<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/ocean.min.css" integrity="sha256-U15b7cerVSqg0pgCMEMfxtF4PAa77IHhnywHaVqOkcg=" crossorigin="anonymous" />
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=" theme-color" content="#333">
    <meta name="description" content="Kipchirchir Lanagt is a young budding software engineer who is good at python, javascript and a budding machine learning enthusiast" >
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/ocean.min.css" integrity="sha256-U15b7cerVSqg0pgCMEMfxtF4PAa77IHhnywHaVqOkcg=" crossorigin="anonymous" />
    <title>Kipchirchir Langat</title>
</head>
<body>
    {% load static %}
    <div id="app"></div>
    <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>